<%= render 'header' %>
<h1>All Dogs</h1>

  <% if params[:sort] == "true"%>
  <%= link_to "Sort by Number of Owners ⬇", "#{dogs_path}?sort=false" %>
  <% @dogs = @dogs.sort_by{|dog| dog.employee_count} %>
  <% else %>
  <%= link_to "Sort by Number of Owners ⬆", "#{dogs_path}?sort=true" %>
  <% @dogs = @dogs.sort_by{|dog| dog.employee_count}.reverse %>
  <% end %>

<% @dogs.each do |dog| %>
<ul><li>
  <%= link_to dog.name, dog %> </li>
</ul>
<% end %>

<%= render 'footer' %>