<h1>Edit <%= @universe.name %></h1>

<form method="POST" action="/universes/<%= @universe.id %>">
  <input type="hidden" value="PUT" name="_method">
  <label for="universe[name]">Name</label>
  <input type="text" name="universe[name]" value="<%= @universe.name %>">
  <br>
  <label for="universe[size]">Size</label>
  <input type="number" name="universe[size]" value="<%= @universe.size %>">
  <br>
  <label for="universe[color]">Color</label>
  <input type="text" name="universe[color]" value="<%= @universe.color %>">
  <br>
  <input type="submit" value="Create Universe">
</form>