<h1>This is the Show page for <%= @universe.name %></h1>
<p>
  Size: <%= @universe.size %>
</p>
<p>
  Fair? <%= @universe.fair %>
</p>
<p style="background-color: <%= @universe.color %>">
  Color: <%= @universe.color %>
</p>
<footer><%= @universe_emoji %></footer>