<h1><%= @garden.name %></h1>
<em><%= @garden.location %></em>
<p>
  Length: <%= @garden.length %>
  <br>
  Width: <%= @garden.width %>
</p>
<p>
  Gardeners: <%= "🤠" * @garden.staff_count %>
</p>
<p>
  <%# link_to 'Edit', edit_garden_path(@garden) %>
</p>