<h1>Plant a Plant</h1>

<%= form_for @plant do |f| %>
  <%= f.label :name, "Name It" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label(:smell) %>
  <%= f.text_field :smell %>
  <br>
  <%= f.label :leaf_count %>
  <%= f.number_field :leaf_count %>
  <br>
  <%= f.label :garden_id %>
  <%= f.collection_select :garden_id, Garden.all, :id, :name %>
  <br>
  <%= f.submit %>
<% end %>