<h1 style="margin: 0"><%= @garden.name %></h1>
<em><%= @garden.location %></em>
<%= render 'plot' %>
<p>
  <%= button_to "Edit", edit_garden_path(@garden), method: :get %>
  <%= button_to "Delete", garden_path(@garden), method: :delete %>
  <%= button_to "New Plant", new_garden_plant_path(@garden), method: :get %>
</p>
