<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @toy.name %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @toy.likes %>
</p>

<p>
  <strong>Image:</strong>
  <%= @toy.image %>
</p>

<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back', toys_path %>
