<h1>Plant a Plant in <%= @garden.name %></h1>

<%= form_for @plant, url: garden_plants_path(@garden), html: { class: "form" } do |f| %>
  
  <%= f.label :emoji %>
  <%= f.text_field :emoji %>
  
  <%= f.label :color %>
  <%= f.collection_select :color, @valid_colors, :to_s, :to_s %>
  
  <%= f.label :x, "X Coordinate" %>
  <%= f.number_field :x %>
  
  <%= f.label :y, "Y Coordinate" %>
  <%= f.number_field :y %>
  
  <%= f.label :width %>
  <%= f.number_field :width %>
  
  <%= f.label :length %>
  <%= f.number_field :length %>
  
  <% if @errors %>
    <ol class="messages">
      <% @errors.each do |error| %>
        <li>
          <%= error %>
        </li>
      <% end %>
    </ol>
  <% end %>

  <%= f.submit %>
<% end %>

<h2>Current Plants for <%= @garden.name %></h2>
<%= render 'gardens/plot' %>